<!DOCTYPE html>
<html class="h-100 hydrated">
    {{- partial "head.html" . -}}
    <body class="d-flex h-100">
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
            <div class="mb-auto">{{- partial "header.html" . -}}</div>
            <div id="intro" class="container my-5 vertical-center">
                <h1 class="display-4">
                    Hello, I'm <a href="/about"><b>Mich Chan</b></a> (she/her & they/them). I create and run  <a href="/panels"><b>fandom panels such as <i>An Otaku's Guide to Donghua</i></b></a>
                    that have been seen by hundreds of attendees in BC, WA, ON, and DC. And I'm serious about creating entertaining work for everyone.
                </h1>
            </div>
            {{- partial "footer.html" . -}}
        </div>
    </body>
</html>
