{{ define "main" }}

<div class="container my-3">
    {{ .Content }}

    <h2>Current lineup</h2>
    
    {{ range ( where $.Site.Data.panels.panels "isActive" true ) }}
        <div class="convention">
            <h3>{{ .title }} ({{ .rating }})</h3>
            <i>{{ .short_description }}</i>

            {{with .notes}}
                <br><br>
                {{if gt (len .) 1}}

                <b>Notes:</b>
                <ul>
                    {{ range . }}
                    <li>{{ . }}</li>
                    {{ end }}
                </ul>

                {{ else if eq (len .) 1}}

                <p><b>Note:</b> {{ index (.) 0 }}</p>

                {{ end }}
            {{ end }}

            <div class="convention-items">
                {{ range .conventions }}
                <li>{{ . }}</li>
                {{ end }}
            </div>
        </div>
    {{ end }}

    <h2>Back soon?</h2>

    {{ range ( where $.Site.Data.panels.panels "isActive" false ) }}
        <div class="convention">
            <h3>{{.title}} ({{.rating}})</h3>
            <i>{{.short_description}}</i>

            {{ with .notes }}
                <br><br>
                {{if gt (len .) 1}}

                <b>Notes:</b>
                <ul>
                    {{ range . }}
                    <li>{{ . }}</li>
                    {{ end }}
                </ul>

                {{ else if eq (len .) 1}}

                <p><b>Note:</b> {{ index (.) 0 }}</p>

                {{ end }}
            {{ end }}

            <div class="convention-items">
                {{ range .conventions }}
                <li>{{ . }}</li>
                {{ end }}
            </div>
        </div>
    {{ end }}

    <h2>Retired panels</h2>
    {{ range  $.Site.Data.panels.retired_panels }}
        <div class="convention">
            <h3>{{.title}} ({{.rating}})</h3>
            <i>{{.short_description}}</i>

            {{ with .retirement_reason }}
                <br><br>
                <p><b>Retirement reason: </b> {{.}}</p>
            {{ end }}

            <div class="convention-items">
                {{ range .conventions }}
                <li>{{ . }}</li>
                {{ end }}
            </div>
        </div>
    {{ end }}

    <h2>Anime North roundtables</h2>
    What Anime North calls a "panel" - roundtables that I've participated in, both as a moderator and a regular panelist.
    <ul>
        {{ range $.Site.Data.panels.anime_north_roundtables }}
            <li>
            {{ .title }}
            </li>
        {{ end }}
        </ul>

    <h2>Other panels I've worked on</h2>
    <ul>
    {{ range $.Site.Data.panels.other_panels }}
        <li>
        {{ .title }}
        </li>
    {{ end }}
    </ul>
</div>

{{ end }}