.convention {
    margin-bottom: 1em;
}

.convention-items {
    margin-top: 1em;
}

.convention-items li {
    background-color: #102439;
    color: white;
    display: inline-block;
    list-style: none;
    padding: 0.3rem;
    margin-bottom: 0.3rem;
    margin-right: 0.3rem;
    border-radius: 2px;
}
